- if params[:oauth].blank?
  %h2 Sign up
- else
  %h2 Almost there!
  %p.lead Just fill in a few more things to complete your sign in. Don't worry you'll only have to do this once


= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, :required => true, :autofocus => true
    = f.input :name
    - if f.object.password_required?
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true

  .form-actions
    - if params[:oauth].blank?
      = f.button :submit, "Sign up"
    - else
      = f.button :submit, "Complete sign in"

= render "devise/shared/links"
