.nested-fields
  = f.input :description
  = f.input :make, placeholder: '1993 Volvo 850E Turbo'
  = f.input :color
  = f.input :license_plate, placeholder: 'BHAM 244', hint: 'Try to include the space as shown on actual plates'
  = f.input :damage, hint: 'Describe damage the car sustained'
  = f.input :driver_name, hint: hidden_from_public_hint
  = f.input :driver_contact, hint: hidden_from_public_hint