= simple_form_for @incident, html: { class: 'form-horizontal geolocate' } do |f|
  = f.error_notification

  - if not user_signed_in?
    .alert.alert-block.alert-error
      %p.lead
        %i.icon-info-sign
        You're about to fill out an incident report
        %em anonymously
      %p
        %strong
          Submitting a report anonymously
          %em significantly
          reduces its
          %a{href: '#', rel: 'scorepopover', data: {title: 'What is a legitimacy score?', content: legitimacy_score_popover_text}}
            legitimacy score
            %i.icon-question-sign
      %p
        Please take the 2 seconds to
        = link_to 'sign up', new_user_registration_path, class: 'btn btn-small btn-primary'
        or login with
        = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-small' do
          %i.icon-facebook-sign
          Facebook
        ,
        = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-small' do
          %i.icon-google-plus
          Google Account
        ,
        = link_to user_omniauth_authorize_path(:twitter), class: 'btn btn-small' do
          %i.icon-twitter
          Twitter
        , or
        = link_to user_omniauth_authorize_path(:github), class: 'btn btn-small' do
          %i.icon-github
          GitHub
  - else
    .alert.alert-block.alert-info
      %p.lead
        %i.icon-info-sign
        Try to make your report as detailed as possible.
      %p
        The more information you provide, the higher the
        %a{href: '#', rel: 'scorepopover', data: {title: 'What is a legitimacy score?', content: legitimacy_score_popover_text}}
          %strong legitimacy score
          %i.icon-question-sign
        will be.

  .alert.alert-warning
    %i.icon-info-sign
    Just leave a field blank if you don't have the information on hand. Avoid using words like
    %em "None", "N/A",
    or
    %em "No"
    in fields like Video or Police report number

  .row
    .span6
      .form-inputs
        = f.input :description, input_html: { class: 'autosize span4' }
        = f.input :datetime_of_incident, as: :datetime_picker
        = f.input :location, as: :location, hint: "Enter a street address or longitude and latitude"
        = f.input :latitude, :as => :hidden
        = f.input :longitude, :as => :hidden
        = f.input :severity, as: :range, hint: 'How badly you were hurt', input_html: { min: Incident::MIN_SEVERITY, max: Incident::MAX_SEVERITY }
        = f.input :police_report_number
        = f.input :video
      %h4 The vehicle
      = f.simple_fields_for :car do |car|
        = render 'car_fields', f: car
      %h4 Witnesses
      / witnesses
      = f.simple_fields_for :witnesses do |witnesses|
        = render 'witness_fields', f: witnesses
      .links.control-group
        .controls
          = link_to_add_association f, :witnesses, class: 'btn btn-small' do
            %i.icon-eye-open
            Add a witness
    .span6
      .form-inputs
        %p
          %strong Address Preview
          %span#preview_map_updating.label.label-info{style: 'display:none'}
            %i.icon-refresh.icon-spin
            Updating...
        %p.text-info Clicking the map will set the location of the incident. This is useful if you don't know the street address.
        #preview_map.mapfix{style: 'height:400px;'}
        %hr
        %h4 Photographic Evidence
        = f.simple_fields_for :photos do |photos|
          = render 'photo_fields', f: photos
        .links.control-group
          .controls
            = link_to_add_association f, :photos, class: 'btn btn-small' do
              %i.icon-camera
              Add a photo


  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    - if user_signed_in?
      .reporting-as-user.pull-right
        Reporting incident as
        %strong
          %img.img-rounded{ src: current_user.gravatar(32) }
          = current_user.name

.severity-levels{style: 'display:none'}
  - for i in 0..10
    .severity{ data: { level: i, color: Incident.severity_color(i) } }
      = Incident.severity_text i

#geocodeModal.modal.hide.fade{tabindex: "-1", role: "dialog", aria: { labelledby: "geocodeModalLabel", hidden: "true"}}
  .modal-header
    %button.close{ type: 'button', data: {dismiss: "modal"}, aria: {hidden: "true" } }×
    %h3#geocodeModalLabel
      Found
      %span.address-count
      locations
  .modal-body
    .alert.alert-info
      %i.icon-info-sign
      %strong Select the most accurate address.
      Choose a more generic address if the street is inaccurate or street number is wrong
    .address-list.well
  .modal-footer
    %button.btn{ data: {dismiss: "modal"}, aria: {hidden: "true" } } Cancel
