= simple_form_for @incident, html: { class: 'form-horizontal' } do |f|
  = f.input :description
  = f.input :datetime_of_incident
  = f.input :location
  = f.input :injured
  = f.input :police_report_number
  = f.input :video
  = f.button :submit, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), incidents_path, :class => 'btn'
