= simple_form_for @incident, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :description
    = f.input :datetime_of_incident
    = f.input :location
    = f.input :severity, as: :range, hint: 'How badly you were hurt', input_html: { min: Incident::MIN_SEVERITY, max: Incident::MAX_SEVERITY }
    = f.input :police_report_number
    = f.input :video
  %h4 The vehicle
  = f.simple_fields_for :car do |car|
    = render 'car_fields', f: car

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

.severity-levels{style: 'display:none'}
  - for i in 0..10
    .severity{ data: { level: i, color: Incident.severity_color(i) } }
      = Incident.severity_text i
