= simple_form_for @incident, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  - if not user_signed_in?
    .alert.alert-block.alert-error
      %p.lead
        %i.icon-info-sign
        You're about to fill out an incident report
        %em anonymously
      %p
        %strong
          Submitting a report anonymously
          %em significantly
          reduces its legitimacy score.
      %p
        Please take the 2 seconds to
        = link_to 'sign up', new_user_registration_path, class: 'btn btn-small btn-primary'
        or login with
        = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-small' do
          %i.icon-facebook-sign
          Facebook
        ,
        = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-small' do
          %i.icon-google-plus
          Google Account
        ,
        = link_to user_omniauth_authorize_path(:twitter), class: 'btn btn-small' do
          %i.icon-twitter
          Twitter
        , or
        = link_to user_omniauth_authorize_path(:github), class: 'btn btn-small' do
          %i.icon-github
          GitHub
  - else
    .alert.alert-block.alert-info
      %p.lead
        %i.icon-info-sign
        Try to make your report as detailed as possible.
      %p
        The more information you provide, the higher the
        %a{href: '#', rel: 'scorepopover', data: {title: 'What is a legitimacy score?', content: "<p><strong>Doored.ca</strong> is a <em>crowdsourced</em> stats database with all of its data entered by users. As a result, many reports could be fraudulent or misrepresented.</p><p>A <strong>legitimacy or reliability score</strong> exists to automatically determine which data points are most likely to be accurate.</p><p>An admin or moderator, at a later time, may manually verify the details of a report and set a score override.</p>".html_safe}}
          %strong legitimacy score
          %i.icon-question-sign
        will be.

  .form-inputs
    = f.input :description
    = f.input :datetime_of_incident, as: :datetime_picker
    = f.input :location
    = f.input :severity, as: :range, hint: 'How badly you were hurt', input_html: { min: Incident::MIN_SEVERITY, max: Incident::MAX_SEVERITY }
    = f.input :police_report_number
    = f.input :video
  %h4 The vehicle
  = f.simple_fields_for :car do |car|
    = render 'car_fields', f: car
  %h4 Witnesses
  / witnesses
  = f.simple_fields_for :witnesses do |witnesses|
    = render 'witness_fields', f: witnesses
  .links.control-group
    .controls
      = link_to_add_association f, :witnesses, class: 'btn btn-small' do
        %i.icon-eye-open
        Add a witness

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    - if user_signed_in?
      .reporting-as-user.pull-right
        Reporting incident as
        %strong
          %img.img-rounded{ src: current_user.gravatar(32) }
          = current_user.name

.severity-levels{style: 'display:none'}
  - for i in 0..10
    .severity{ data: { level: i, color: Incident.severity_color(i) } }
      = Incident.severity_text i
