= form_for @incident do |f|
  - if @incident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incident.errors.count, "error")} prohibited this incident from being saved:"
      %ul
        - @incident.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :datetime_of_incident
    = f.datetime_select :datetime_of_incident
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :injured
    = f.check_box :injured
  .field
    = f.label :police_report_number
    = f.text_field :police_report_number
  .field
    = f.label :video
    = f.text_field :video
  .actions
    = f.submit 'Save'
