%h1 Listing incidents

%table
  %tr
    %th Description
    %th Datetime of incident
    %th Location
    %th Injured
    %th Police report number
    %th Video
    %th
    %th
    %th

  - @incidents.each do |incident|
    %tr
      %td= incident.description
      %td= incident.datetime_of_incident
      %td= incident.location
      %td= incident.injured
      %td= incident.police_report_number
      %td= incident.video
      %td= link_to 'Show', incident
      %td= link_to 'Edit', edit_incident_path(incident)
      %td= link_to 'Destroy', incident, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Incident', new_incident_path
