- model_class = Incident
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.dropdown.pull-right
  %a.btn.btn-small.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
    %i.icon-sort
    %strong Sort by
    = @sorted_by
  %ul.dropdown-menu{ role: 'menu', aria: { labelledby: 'dLabel' } }
    - @sortable_words.each do |key,val|
      - if val != @sorted_by
        %li{ role: 'presentation' }= link_to val, sorted_incidents_path(key.to_s.tr('_', '-'))
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:severity)
      %th= model_class.human_attribute_name(:datetime_of_incident)
      %th= model_class.human_attribute_name(:location)
      %th= model_class.human_attribute_name(:injured)
      %th= model_class.human_attribute_name(:police_report_number)
      %th= model_class.human_attribute_name(:video)
      %th Vehicle
      %th Witnesses
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= link_to incident.id, incident_path(incident)
        %td= incident.description
        %td{style: "color: #{incident.severity_color}"}= incident.severity_text
        %td= incident.datetime_of_incident
        %td= incident.location
        %td= incident.injured
        %td= incident.police_report_number
        %td= incident.video
        - if incident.car_licence
          %td= link_to incident.car_licence, car_path(incident.car)
        - else
          %td No
        %td
          - if incident.witnesses.count > 0
            = link_to pluralize(incident.witnesses.count, 'witness'), incident_path(incident)
          - else
            No
        %td=l incident.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_incident_path(incident), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), incident_path(incident), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

.row
  .span12
    .pagination-info.pull-right= page_entries_info @incidents
.row
  .span12
    .pagination-foot{style: 'text-align: center'}= paginate @incidents, theme: 'twitter-bootstrap'

= link_to t('.new', :default => t("helpers.links.new")), new_incident_path, :class => 'btn btn-primary'
