- model_class = Incident
.page-header
  %h1
    Recorded Incidents
  - if params[:user].present?
    %h2.lead
      submitted by
      = User.find(params[:user]).name
.dropdown.pull-right
  %a.btn.btn-small.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
    %i.icon-sort
    %strong Sort by
    = @sorted_by
  %ul.dropdown-menu{ role: 'menu', aria: { labelledby: 'dLabel' } }
    - @sortable_words.each do |key,val|
      - if val != @sorted_by
        - if params[:user].present?
          %li{ role: 'presentation' }= link_to val, byuser_sorted_incidents_path(key.to_s.tr('_', '-'), params[:user])
        - else
          %li{ role: 'presentation' }= link_to val, sorted_incidents_path(key.to_s.tr('_', '-'))
%table.table.table-striped
  %thead
    %tr
      %th
        ID Number
      %th
        %i.icon-medkit
        Severity
      %th
        %i.icon-location-arrow
        Location
      %th
        %i.icon-briefcase
        Police Report
      %th
        %i.icon-facetime-video
        Video
      %th
        %i.icon-truck
        Vehicle
      %th
        %i.icon-group
        Witnesses
      %th
        %i.icon-calendar
        Incident Occured
      / %th
      /   %i.icon-folder-open
      /   Submitted
      %th
        Reliability
        %a{href: '#', rel: 'scorepopover', data: {title: 'What is a legitimacy score?', content: "<p style='font-weight:normal'><strong>Doored.ca</strong> is a <em>crowdsourced</em> stats database with all of its data entered by users. As a result, many reports could be fraudulent or misrepresented.</p><p style='font-weight:normal'>A <strong>legitimacy or reliability score</strong> exists to automatically determine which data points are most likely to be accurate.</p><p style='font-weight:normal'>An admin or moderator, at a later time, may manually verify the details of a report and set a score override.</p>".html_safe}}
          %i.icon-question-sign
      %th{style: 'text-align:center'}
        %i.icon-wrench{title: 'Actions', rel: 'tooltip'}
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= link_to incident.short_name, incident_path(incident)
        %td
          %a.severity-link{ style: "color: #{incident.severity_color}; #{("font-weight: bold;" if incident.severity == 10)}", rel: 'tooltip', title: incident.severity_text }
            = "Level #{incident.severity}"
            - if incident.severity == 10
              %i.icon-exclamation-sign
        %td= incident.location
        %td
          - if incident.police_report_number.present?
            = link_to 'Yes', '#', class: 'date-link', title: incident.police_report_number, rel: 'tooltip'
          - else
            No
        %td
          - if incident.video.present?
            = link_to incident.video, rel: 'tooltip', title: 'External link' do
              Yes
              %i.icon-external-link
          - else
            No
        - if incident.car_licence
          %td= link_to incident.car_licence, car_path(incident.car)
        - else
          %td No
        %td
          - if incident.witnesses.count > 0
            = link_to pluralize(incident.witnesses.count, 'witness'), incident_path(incident)
          - else
            No
        %td
          %a.date-link{ rel: 'tooltip', title: l(incident.datetime_of_incident) }
            = time_ago_in_words incident.datetime_of_incident, include_seconds: true
            ago
        / %td
        /   %a.date-link{ rel: 'tooltip', title: l(incident.created_at) }
        /     = time_ago_in_words incident.created_at, include_seconds: true
        /     ago
        %td
          - if incident.score_override.present?
            %i.icon-ok{title: 'Manually verified by moderators', rel: 'tooltip', style: 'color: #16a085; border-bottom: 1px #333 dotted;'}
          - else
            - if incident.score <= 2
              %i.icon-frown
            - elsif incident.score <= 4
              %i.icon-meh
            - else incident.score
              %i.icon-smile
          - if incident.score > 4
            %strong= incident.score_percent
          - else
            = incident.score_percent
        %td
          - if incident.user.present? && incident.user == current_user
            = link_to glyph(:pencil), edit_incident_path(incident), :class => 'btn btn-mini', :rel => 'tooltip', :title => 'Edit'
            = link_to glyph(:trash), incident_path(incident), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger', :rel => 'tooltip', :title => 'Edit'

.row
  .span12
    .pagination-info.pull-right= page_entries_info @incidents
.row
  .span12
    .pagination-foot{style: 'text-align: center'}= paginate @incidents, theme: 'twitter-bootstrap'

= link_to new_incident_path, :class => 'btn btn-primary' do
  %i.icon-file-alt
  Report new incident
