- content_for :title do
  = site_title @incident.title

- if @incident.description.present?
  - content_for :description do
    = @incident.description

- if @incident.photos.count > 0
  - content_for :image do
    = @incident.photos.first.image_url

- model_class = Incident
.row
  .span12
    .page-header
      %h1= "Incident ID #{@incident.short_name} Details"

.row
  .span6
    %p.lead
      Report filed
      - if @incident.user.present?
        by
        = link_to byuser_sorted_incidents_path('latest', @incident.user.id) do
          %img.img-rounded{ src: @incident.user.gravatar(32) }
          = @incident.user.name
      - else
        %span.muted anonymously
    %p
      %strong Report Legitimacy Score
      %a{href: '#', rel: 'scorepopover', data: {title: 'What is a legitimacy score?', content: legitimacy_score_popover_text}}
        %i.icon-question-sign
      %br
      - if @incident.score_override.present?
        .progress.progress-striped.progress-success{style: 'width:300px'}
          .bar{style: "width: #{@incident.score_percent};"}
            = @incident.score_percent
        .text-success
          %i.icon-ok
          This report has been manually verified by site volunteers and has been assigned a legitimacy score of
          %strong= @incident.score_percent
      - else
        .progress{style: 'width:300px'}
          .bar{style: "width: #{@incident.score_percent};"}
            = @incident.score_percent
        This report has scored
        %strong= @incident.score
        points. Yielding a reliability of
        %strong= @incident.score_percent

    %p
      %strong= model_class.human_attribute_name(:description) + ':'
      %br
      = simple_format @incident.description
    %p
      %strong= model_class.human_attribute_name(:datetime_of_incident) + ':'
      %br
      = @incident.datetime_of_incident
      %span.muted= "(#{time_ago_in_words @incident.datetime_of_incident, include_seconds: true} ago)"
    %p
      %strong= model_class.human_attribute_name(:location) + ':'
      %br
      = @incident.location
    %p
      %strong= model_class.human_attribute_name(:severity) + ':'
      %br
      %span{style: "color: #{@incident.severity_color}"}= @incident.severity_text
      %span.muted= "(Level #{@incident.severity})"
    %p
      %strong= model_class.human_attribute_name(:police_report_number) + ':'
      %br
      = @incident.police_report_number
    %p
      %strong= model_class.human_attribute_name(:video) + ':'
      %br
      - if @incident.video.present?
        = link_to @incident.video, rel: 'tooltip', title: 'External link' do
          = @incident.video
          %i.icon-external-link

    - if @incident.car.present?
      %p
        %strong Associated Vehicle:
        %br
        = link_to @incident.car, car_path(@incident.car)

    %p
      %strong Witnesses:
      %br
      - if @incident.witnesses.count == 0
        %span.muted (None)
      - else
        %ol
          - @incident.witnesses.each do |witness|
            %li
              - if witness.private? || witness.incident.user != current_user
                %i.icon-lock
                (Withheld)
                %a{ href: '#', rel: 'tooltip' , title: 'witness details publicly withheld for their privacy' } why?
              - else
                = link_to witness, witness_path(witness)
  .span6
    %p.lead Incident Map
    #incident_map.mapfix{style: 'height:400px;', data: { latitude: @incident.latitude, longitude: @incident.longitude } }

- if @incident.photos.count > 0
  %hr

  .row
    .span12
      %p.lead Photographic Evidence
      %ul.thumbnails
        - @incident.photos.each do |photo|
          %li.span4
            .thumbnail
              = image_tag photo.image_url
              .caption
                - if photo.description.present?
                  %p= photo.description
                - else
                  %p.muted No description given
                %p
                  = link_to 'View full image', photo.image_url, class: 'btn btn-primary'



.row
  .span12
    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), incidents_path, :class => 'btn'
      - if can? :update, @incident
        = link_to t('.edit', :default => t("helpers.links.edit")), edit_incident_path(@incident), :class => 'btn'
      - if can? :destroy, @incident
        = link_to t('.destroy', :default => t("helpers.links.destroy")), incident_path(@incident), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
      - if can? :edit_override_score, @incident
        = link_to edit_override_score_incident_path(@incident), :class => 'btn btn-info' do
          %i.icon-star
          Override legitimacy score
