= simple_form_for @witness, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :contact
  = f.input :privacy_level
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), witnesses_path, :class => 'btn'
