- model_class = Witness
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  - if @witness.name.present?
    - if @witness.incident.user == current_user
      = @witness.name
    - else
      %i.icon-lock
      (Withheld)
      %a{ href: '#', rel: 'tooltip' , title: 'witness details publicly withheld for their privacy' } why?
  - else
    %span.muted (None)
%p
  %strong= model_class.human_attribute_name(:contact) + ':'
  %br
  - if @witness.contact.present?
    - if @witness.incident.user == current_user
      = @witness.contact
    - else
      %i.icon-lock
      (Withheld)
      %a{ href: '#', rel: 'tooltip' , title: 'witness details publicly withheld for their privacy' } why?
  - else
    %span.muted (None)
%p
  %strong= model_class.human_attribute_name(:privacy_level) + ':'
  %br
  = @witness.privacy_level

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), witnesses_path, :class => 'btn'
  - if can? :update, @witness
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_witness_path(@witness), :class => 'btn'
  - if can? :destroy, @witness
    = link_to t('.destroy', :default => t("helpers.links.destroy")), witness_path(@witness), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
