!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Doored!"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'


  %body
    .container-wrapper

      = nav_bar static: :top, brand: "#{glyph(:road)} doored.ca".html_safe, brand_link: root_path, inverse: true, responsive: true do
        = menu_group do
          = menu_item new_incident_path do
            %i.icon-file-alt
            Report Incident
          = menu_item incidents_path do
            %i.icon-folder-open
            Recorded Incidents
          = menu_item cars_path do
            %i.icon-truck
            Recorded Vehicles
        = menu_group pull: :right do
          - if user_signed_in?
            = menu_item "View your submissions", byuser_sorted_incidents_path('latest', current_user.id), class: 'hidden-desktop'
            = menu_item "Edit Account", edit_user_registration_path, class: 'hidden-desktop'
            = menu_item "Log Out", destroy_user_session_path, method: :delete, class: 'hidden-desktop'
            %li.dropdown.visible-desktop
              %a.dropdown-toggle.account-toggle{ href: '#', title: 'Your Account', data: { toggle: 'dropdown' } }
                %img{ src: current_user.gravatar(22), title: current_user.name, alt: current_user.name }
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to '#' do
                    %strong #{current_user.name}
                %li
                  = link_to byuser_sorted_incidents_path('latest', current_user.id) do
                    %i.icon-user
                    View your submissions
                %li
                  = link_to edit_user_registration_path do
                    %i.icon-cog
                    Edit Account
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.icon-signout
                    Log Out
          - else
            = menu_item "Sign up", new_user_registration_path
            = menu_divider
            = menu_item "Sign in", new_user_session_path, class: 'hidden-desktop'
            %li.dropdown.visible-desktop
              %a#login-nav-dropdown.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                Sign in
                %b.caret
              .dropdown-menu{ style: 'padding: 15px' }
                = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-block' do
                  %i.icon-facebook-sign
                  Facebook
                = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block' do
                  %i.icon-google-plus
                  Google
                = link_to user_omniauth_authorize_path(:twitter), class: 'btn btn-block' do
                  %i.icon-twitter
                  Twitter
                = link_to user_omniauth_authorize_path(:github), class: 'btn btn-block' do
                  %i.icon-github
                  GitHub

                %hr
                = simple_form_for User.new(), url: user_session_path, html: { class: 'navbar-form' } do |f|
                  = f.input :email, placeholder: 'Email', label: false
                  = f.input :password, placeholder: 'Password', label: false
                  = f.input :remember_me, :as => :boolean, label: false, inline_label: 'Remember me'
                  = f.button :submit, 'Login!', class: 'btn btn-primary btn-block'

      .yellow-stripe
        .container
          - if Rails.env.development? || Rails.env.staging?
            .dev-warning
              %i.icon-warning-sign
              %strong Hey there!
              This is the development server. Users can test new features and provide feedback to the developers. Just so you know, things can break here!

      .container.app-container
        .row
          .span12.bootstrap-flashes
            = bootstrap_flash
        = yield

    %footer.footer
      .container
        %p.pull-right
          = link_to 'Back to top', '#'
        %p
          Created and maintained by
          = link_to '@f3ndot', 'https://www.twitter.com/f3ndot'
        %p
          Provided as a free service to the
          = link_to '#bikeTO', 'https://www.twitter.com/search?q=%23BikeTO'
          community
        %p
          Available as full
          = link_to 'open source code', 'https://www.github.com/f3ndot/doorprize'
          under the
          = link_to 'MIT license', 'https://en.wikipedia.org/wiki/MIT_License'
        .footer-links
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBKfjjd_H0qkk4iQiTcwrYQiN5ET84GRAk&sensor=true"
    = javascript_include_tag "application"
