!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Doored!"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'


  %body
    .container-wrapper

      = nav_bar static: :top, brand: 'doored.ca', brand_link: root_path, inverse: true, responsive: true do
        - menu_group do
          = menu_item "Report Incident", new_incident_path
          = menu_item "Recorded Incidents", incidents_path
          = menu_item "Recorded Vehicles", cars_path

      .yellow-stripe
        .container
          - if Rails.env.development?
            .dev-warning
              %i.icon-warning-sign
              %strong Hey there!
              This is the development server. Users can test new features and provide feedback to the developers. Just so you know, things can break here!


      / .navbar.navbar-fixed-top.navbar-inverse{ class: ('offset-dev-warning-top' if Rails.env.development?) }
      /   .navbar-inner
      /     .container
      /       %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
      /         %span.icon-bar
      /         %span.icon-bar
      /         %span.icon-bar
      /       = link_to 'doored.ca', root_path, class: 'brand'
      /       .container.nav-collapse
      /         %ul.nav
      /           %li= link_to "Report Incident", new_incident_path
      /           %li= link_to "Recorded Incidents", root_path
      /           %li= link_to "Recorded Vehicles", cars_path

      .container.app-container
        .row
          .span12
            = bootstrap_flash
            = yield
          / .span3
          /   .well.sidebar-nav
          /     %h3 Sidebar
          /     %ul.nav.nav-list
          /       %li.nav-header Sidebar
          /       %li= link_to "Link 1", "/path1"
          /       %li= link_to "Link 2", "/path2"
          /       %li= link_to "Link 3", "/path3"

    %footer.footer
      .container
        %p.pull-right
          = link_to 'Back to top', '#'
        %p
          Created and maintained by
          = link_to '@f3ndot', 'https://www.twitter.com/f3ndot'
        %p
          Provided as a free service to the
          = link_to '#bikeTO', 'https://www.twitter.com/search?q=%23BikeTO'
          community
        %p
          Available as full
          = link_to 'open source code', 'https://www.github.com/f3ndot/doorprize'
          under the
          = link_to 'MIT license', 'https://en.wikipedia.org/wiki/MIT_License'
        .footer-links
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
