!!! 5
%html(lang="en" prefix="og: http://ogp.me/ns#")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : site_title
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = javascript_include_tag "html5slider.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    - if content_for?(:image)
      = yield(:image)
    - else
      %meta{ property: "og:image", content: "http://www.doored.ca/images/prod.png" }
    %meta{ property: "og:site_name", content: "Doored.ca - Canadian \"Dooring\" Stats Database" }
    - if content_for?(:description)
      %meta{ property: "og:description", content: yield(:description) }
      %meta{ name: "description", content: yield(:description) }
    - else
      %meta{ property: "og:description", content: "A simple site where Canadian cyclists who were \"doored\" can report their incident for the purpose of gathering stats." }
      %meta{ name: "description", content: "A simple site where Canadian cyclists who were \"doored\" can report their incident for the purpose of gathering stats." }
    %meta{ property: "og:url", content: url_for(:only_path => false) }
    - if content_for?(:title)
      %meta{ property: "og:title", content: yield(:title) }

  %body
    .container-wrapper

      = nav_bar static: :top, brand: "#{glyph(:road)} doored.ca".html_safe, brand_link: root_path, inverse: true, responsive: true do
        = menu_group do
          = menu_item new_incident_path do
            %i.icon-file-alt
            Report Incident
          = menu_item incidents_path do
            %i.icon-folder-open
            Recorded Incidents
          = menu_item cars_path do
            %i.icon-truck
            Recorded Vehicles
          = menu_item why_path do
            %i.icon-question-sign
            Why
          %li
            = link_to '#bug-report', role: 'button', data: { toggle: 'modal' } do
              %i.icon-bug
              Bug?
        = menu_group pull: :right do
          - if user_signed_in?
            = menu_item "View your submissions", byuser_sorted_incidents_path('latest', current_user.id), class: 'hidden-desktop'
            = menu_item "Edit Account", edit_user_registration_path, class: 'hidden-desktop'
            = menu_item "Log Out", destroy_user_session_path, method: :delete, class: 'hidden-desktop'
            %li.dropdown.visible-desktop
              %a.dropdown-toggle.account-toggle{ href: '#', title: 'Your Account', data: { toggle: 'dropdown' } }
                %img{ src: current_user.gravatar(22), title: current_user.name, alt: current_user.name }
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to '#' do
                    %strong #{current_user.name}
                %li
                  = link_to byuser_sorted_incidents_path('latest', current_user.id) do
                    %i.icon-user
                    View your submissions
                %li
                  = link_to edit_user_registration_path do
                    %i.icon-cog
                    Edit Account
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.icon-signout
                    Log Out
          - else
            = menu_item "Sign up", new_user_registration_path
            = menu_divider
            = menu_item "Sign in", new_user_session_path, class: 'hidden-desktop'
            %li.dropdown.visible-desktop
              %a#login-nav-dropdown.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                Sign in
                %b.caret
              .dropdown-menu{ style: 'padding: 15px' }
                = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-block' do
                  %i.icon-facebook-sign
                  Facebook
                = link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-block' do
                  %i.icon-google-plus
                  Google
                = link_to user_omniauth_authorize_path(:twitter), class: 'btn btn-block' do
                  %i.icon-twitter
                  Twitter
                = link_to user_omniauth_authorize_path(:github), class: 'btn btn-block' do
                  %i.icon-github
                  GitHub

                %hr
                = simple_form_for User.new(), url: user_session_path, html: { class: 'navbar-form' } do |f|
                  = f.input :email, placeholder: 'Email', label: false
                  = f.input :password, placeholder: 'Password', label: false
                  = f.input :remember_me, :as => :boolean, label: false, inline_label: 'Remember me'
                  = f.button :submit, 'Login!', class: 'btn btn-primary btn-block'

      .yellow-stripe
        .container
          - if Rails.env.development? || Rails.env.staging?
            .dev-warning
              %i.icon-warning-sign
              %strong Hey there!
              This is the development server. Users can test new features and provide feedback to the developers. Just so you know, things can break here!

      .container.app-container
        .row
          .span12.bootstrap-flashes
            = bootstrap_flash

        - unless cookies[:survey] == 'dismiss' || (current_user.survey_dismissed? if user_signed_in?)
          #surveyAlert.row
            .span12.yellow-stripe{ style: 'padding-right:0;padding-left:0;margin-top:20px'}
            .span12
              .alert.alert-info{ style: 'margin-bottom:0;-webkit-border-radius:0;-webkit-border-radius:0;border-radius:0;border-radius:0;' }
                %button.close{ type: "button", data: { dismiss: "alert" }} &times;
                .thankYouMessage.text-center.hidden
                  %p.lead
                    %i.icon-thumbs-up
                    Thanks for your time! Feel free to share the survey with others here:
                  %input#shareForm.input-xxlarge.text-center{ type: 'text', readonly: true, value: 'https://justinbull.wufoo.com/forms/z1wmh0hi1mhr1q1/' }
                .surveyMessage
                  %p.lead
                    %i.icon-thumbs-up
                    %em Hey there!
                    Do you want to help us prevent doorings and improve the cycling community in the Toronto?
                  %p
                    %strong Several individuals are approaching the City of Toronto regarding the enforcement of a safety product on taxis to help prevent dooring. They need your input!
                  = link_to '#survey', style: 'vertical-align:bottom', class: 'btn btn-success btn-large', role: 'button', data: { toggle: 'modal' } do
                    %i.icon-heart
                    Sure! I'll give you 60 seconds of my time
                  %small Even if you're not in Toronto, we'd love your feedback!
            .span12.yellow-stripe{ style: 'padding-right:0;padding-left:0'}

        = yield

    %footer.footer
      .container
        %p.pull-right
          = link_to 'Back to top', '#'
        %p
          Created and maintained by
          = link_to '@f3ndot', 'https://www.twitter.com/f3ndot'
        %p
          Provided as a free service to the
          = link_to '#bikeTO', 'https://www.twitter.com/search?q=%23BikeTO'
          community
        %p
          Available as full
          = link_to 'open source code', 'https://www.github.com/f3ndot/doorprize'
          under the
          = link_to 'MIT license', 'https://en.wikipedia.org/wiki/MIT_License'
        .footer-links

    #survey.modal.hide.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: 'survey-label', hidden: 'true' } }
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } ×
        %h3#survey-label The 60 Second Survey!
      .modal-body{ }
        #wufoo-z1wmh0hi1mhr1q1
          Fill out the
          = link_to 'survey', 'https://justinbull.wufoo.com/forms/z1wmh0hi1mhr1q1'
        %script{ type: 'text/javascript' }
          var z1wmh0hi1mhr1q1;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'justinbull', 
          'formHash':'z1wmh0hi1mhr1q1', 
          'autoResize':true,
          'height':'1634',
          'async':true,
          'host':'wufoo.com',
          'header':'show', 
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z1wmh0hi1mhr1q1 = new WufooForm();z1wmh0hi1mhr1q1.initialize(options);z1wmh0hi1mhr1q1.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
      .modal-footer
        %a.btn.btn-warning{ href: "https://justinbull.wufoo.com/forms/z1wmh0hi1mhr1q1/", target: "_blank" }
          %i.icon-external-link
          Open survey in new window
        %button.btn{ data: { dismiss: 'modal' }, aria: { hidden: 'true' } }
          Dismiss

    #bug-report.modal.hide.fade{ tabindex: "-1", role: "dialog", aria: { labelledby: 'bug-report-label', hidden: 'true' } }
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } ×
        %h3#bug-report-label Found a problem with the site?
      .modal-body
        %p Go ahead and describe your issue or suggestion. Please be as clear as possible
        %input#bugReportEmail{ type: 'email', placeholder: 'Your Email' }
        %textarea#bugReportTextfield.autosize{ style: 'width: 97%; height:75px', placeholder: 'Your suggestion, bug report, or complaint.' }
        #bugReportErrorField.alert.alert-danger.alert-block.hidden
          %h4 Crap! Something broke badly
          %p
            Sorry but there was an error trying to send the report!
          %p
            Please
            =link_to 'manually email Justin', 'mailto:me@justinbull.ca'
            or
            =link_to 'tweet @dooredCA', '//www.twitter.com/dooredCA'
          %p.errorCode.hidden
            Mention this error code:
            %strong



      .modal-footer
        %button.btn{ data: { dismiss: 'modal' }, aria: { hidden: 'true' } } Close
        %button#bugReportBtn.btn.btn-primary.disabled
          %i.icon-bug
          Report bug

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBKfjjd_H0qkk4iQiTcwrYQiN5ET84GRAk&sensor=true"
    = javascript_include_tag "application"

    - if Rails.env.production?
      %script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36829887-2', 'doored.ca');
        ga('send', 'pageview');
